* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 80px;
  }
  
  .projectForm,
  .todoForm,
  .saveTodoBtn {
    display: none;
  }
  
  .todoDiv {
    margin-top: 2rem;
    margin-bottom: 1rem;
    box-shadow: 1rem 1rem;
    padding: 1rem;
    background-color: #007BFF;
  }
  
  .editBtn {
    background-color: white;
  }
  
  .delBtn {
    background-color: red;
    color: white;
  }
  
  .editBtn,
  .delBtn {
    font-size: 1.2rem;
    margin: 10px 10px 0 0;
    border: none;
    padding: 5px 10px;
    border-radius: 10%;
  }
  
  input[type=checkbox] {
    transform: scale(2.0);
  }
  